@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-size: .9rem; */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a:hover {
  color: theme('colors.sundown.500');
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

button {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

h1 {
  @apply text-xl font-semibold;
}

.btn-bg {
  @apply bg-sundown-500 py-2 text-white rounded-md hover:bg-sundown-600 font-medium text-center min-w-24 px-4;
}

.btn-tr {
  @apply border bg-white font-medium border-sundown-500 py-2 text-sundown-500 rounded-md min-w-24 px-4 hover:bg-sundown-500 hover:text-white text-center;
}

 input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset !important;
   -webkit-text-fill-color: black !important;
 }

 input:-moz-autofill {
   box-shadow: 0 0 0 1000px white inset !important;
   -moz-text-fill-color: black !important;
 }